---
title: "Dave Gamba"
layout: default
pagination:
    enabled: true
description: "Personal Trainer Online"
---

<section class="card border-0 home-section-fullwidth">
	<div class="card-body" style="background-image:url('{{site.images_root}}home-section-1.jpg')">
		<div class="section-logo">
			<img src="{{site.url}}assets/images/static/sign.svg" title="{{site.title}}" width="1920" height="354" class="img-fluid" />
			<h2>Allenarsi breve-intenso, vivere nel fisico che vuoi, sentirsi al massimo</h2>
		</div>
	</div>
</section>
{% include quiz.html %}
<div class="container">
	{% if page.url == "/" %}
	<div class="row remove-site-content-margin">
		{% assign latest_post = site.posts[0] %}
		<div class="col-md-6 mt-5">
			<div class="card border-0 mb-4 box-shadow">   
				<a href="{{site.url}}{{latest_post.url}}">
					<div class="topfirstimage" style="background-image:url({% if latest_post.image contains "://" %}{{ latest_post.image }}{% else %} {{site.images_root}}{{ latest_post.image}}{% endif %}); height: 200px; background-size: cover; background-repeat: no-repeat;"></div>
				</a>
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h4 font-weight-bold">
						<a class="text-dark" href="{{site.url}}{{latest_post.url}}">{{ latest_post.title }}</a>
					</h2>
					<p class="excerpt">
						{{ latest_post.excerpt | strip_html | strip_newlines | truncate: 136 }}
					</p>
					<div>
						<small class="d-block text-muted">
							In <span class="catlist">
								{% for category in latest_post.categories %}
								<a class="text-capitalize text-muted smoothscroll" href="{{site.url}}category/{{ category | downcase | replace: " ", "-" }}">{{ category }}</a><span class="sep">, </span>
								{% endfor %}
								</span>                   
						</small>
						<small class="text-muted">
							<i class="fa fa-clock"></i> {{ latest_post.date | date: site.date_format }}
						</small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 mt-5">
			{%- assign post = site.posts[1] -%}
			{% include main-side-post.html post = post %}
			{%- assign post = site.posts[2] -%}
			{% include main-side-post.html post = post %}
			{%- assign post = site.posts[3] -%}
			{% include main-side-post.html post = post %}
		</div>
	</div>
	<!-- Sticky - add sticky tag to the post you want to highlight here - tags: [sticky] -->
	{% for post in site.posts %} 
	{% if post.tags contains "sticky" %}
	<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative">
		<div class="pl-4 pr-0 h-100 tofront">
			<div class="row justify-content-between">
				<div class="col-md-6 pt-4 pb-4 pr-lg-4 align-self-center">
					<h1 class="mb-3">{{post.title}}</h1>
					<p class="mb-3 lead">
						{{ post.excerpt | strip_html | strip_newlines | truncate: 136 }}
					</p>
					<a href="{{site.url}}{{post.url}}" class="btn btn-dark">Read More</a>
				</div>
				<div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-image:url({{site.images_root}}{{ post.image }});">	
				</div>
			</div>
		</div>
	</div> 
	{% endif %}
	{% endfor %}
	{% endif %}
	{% if paginator.posts.size > 0 %}
	<div class="row mt-3">
		{% if site.tags.featured.size > 0 %}
		<div class="col-md-8 main-loop">
			{% include sidebar-loop.html %} 
		</div>
		<div class="col-md-4">
			{% include sidebar-featured.html %}    
		</div>
		{% else %}
		<div class="col-md-12 main-loop p-5">
			{% include sidebar-loop.html %} 
		</div>
		{% endif %}
    </div>
	{% endif %}
</div>