---
title: "Dave Gamba"
layout: default
description: "Personal Trainer Online"
---

<section class="card border-0 home-section-fullwidth">
	<div class="card-body">
		<div class="img-fold-container">
			{% include file-image.html src="home-section-1.jpg" title=site.title width="2600" height="1280" %}
		</div>
		<div class="section-logo">
			{% include absolute-image.html file="sign.svg" title=site.title width="1920" height="354" class="img-fluid" %}
			<h2>Rivoluziona il tuo fisico col metodo più breve-intenso</h2>
		</div>
	</div>
</section>
<div class="home-fold pict-container lazyload" data-bg="{{site.files.images}}home-bg.jpg">
	{% include banner-sticky.html %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Inizia Qui</h2>
				<a href="https://start.davegamba.com/" class="button fullwidth" title="Scheda Start">Scheda Start</a>
				{% include absolute-anchor.html link="_pages/quiz-metabolico.md" class="button fullwidth" title="Quiz Metabolico" %}
				<h2>Il Tuo Obiettivo</h2>
				{% include absolute-anchor.html link="_posts/2019-12-01-guida-dimagrimento-definitiva.md" class="button fullwidth" title="Dimagrire" %}
				{% include absolute-anchor.html link="_posts/2021-11-23-programma-allenamento-casa.md" class="button fullwidth" title="Allenamento a Casa per Dimagrire" %}
				{% include absolute-anchor.html link="articles/index.html" class="button fullwidth" title="Le Altre Guide" %}
				<h2>I Servizi di Dave</h2>
				<a href="https://bodymastery.davegamba.com/" class="button fullwidth" title="Bodymastery">Bodymastery <small>Il Percorso d'Allenamento a Casa Completo da 365 giorni</small></a>
				<a href="https://coaching.davegamba.com/" class="button fullwidth" title="Coaching">Coaching <small>Il Servizio Personalizzato con Dave</small></a>
			</div>
		</div>
	</div>
</div>
