<div class="mb-5 row d-flex justify-content-between main-loop-card">
	{% if post.image %}
	<div class="col-md-3 pr-0 text-right">
		{% include post-thumbnail.html post=post %}
	</div>
	{% endif %}
	<div class="col-md-9 pr-3">
		<h2 class="mb-1 h4 font-weight-bold">
			<a class="text-dark" href="{{ post.url  | absolute_url}}">{{ post.title }}</a>
		</h2>
		<p class="excerpt">
		   {{post.excerpt|strip_html|strip_newlines|truncate:186}}
		</p>
		{% include catlist.html categories=post %}
		{% include post-date.html date=post.date %}
	</div>
</div>