<li class="nav-item">
	{% include absolute-anchor.html link="_pages/about.md" title="Chi Sono" class="nav-link" %}
</li>
<li class="nav-item">
	{% include absolute-anchor.html link="articles/index.html" title="Guide" class="nav-link" %}
</li>
<li class="nav-item">
	<a href="https://bodymastery.davegamba.com/" title="Bodymastery" class="nav-link" target="_system">Bodymastery</a>
</li>
<li class="nav-item">
	<a href="https://coaching.davegamba.com/" title="Coaching" class="nav-link" target="_system">Coaching</a>
</li>
