<section class="border-0 quiz">
	<div class="row">
		<div class="col-md-8 mt-5">
			<p>STRUMENTO GRATUITO</p>
			<h1>Che Tipo Metabolico sei?</h1>
			<p class="complement">⤵︎</p>
			<h3>Scopri in 1 minuto il fattore che velocizza i tuoi risultati fisici da subito e senza nessuno sforzo, solo seguendo la tua natura.</h3>
			{% include quiz-button.html text="Esegui il Quiz" %}
		</div>
		<div class="col-md-4">
			<div class="side" style="background-image:url('{{site.files.images}}dave-side-1.jpg')"></div>
		</div>
	</div>
</section>
<section class="card border-0">
	<div class="card-body text-center">
		<p>Il Test Metabolico che stai per fare, o <em><strong>Primal Pattern® Diet Type</strong></em> è il sistema che <strong>identifica le necessità nutrizionali genetiche di un individuo</strong>.<br/>
		Questo Test può darti i principi per iniziare a capire che Tipo Metabolico sei.<br/>
		La cosa migliore del questionario è che ti porta velocemente verso ciò che è ottimale per il tuo corpo.<br/>
		Questo test è direttamente tratto e tradotto dai lavori di <strong><em>William L. Walcott</em>, l'autorità mondiale nel campo dei Tipi Metabolici</strong>.<br/>
		Per maggiori approfondimenti su questo tema si consiglia la lettura di Metabolic Typing Diet® di W. Walcott.</p>
	</div>
</section>