<div class="col-lg-2 pr-4 mb-4 col-md-12">
	<div class="sticky-top sticky-top-offset text-center">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-lg-12">
				<h3>Share</h3>
			</div>
			<div class="col-md-6 col-sm-6 col-lg-12">
				<a href="#" onclick="FB.ui({method:'share'}, function(response){});return false;">
					<i class="fab fa-facebook fa-3x"></i>
				</a>
				<a href="https://twitter.com/share?url={{ page.url | absolute_url }}" target="_blank" rel="noreferrer">
					<i class="fab fa-twitter fa-3x"></i>
				</a>
			</div>
		</div>
	</div>
</div>