{% if paginator.posts.size > 0 %}
<div class="row">
	{% for post in paginator.posts %}
	<div class="col-md-4 col-lg-3">
		{% include main-grid-post.html %}
	</div>
	{% endfor %}
</div>
<div class="mt-5">
	{% if paginator.total_pages > 1 %}
	<ul class="pagination"> 
		{% if paginator.previous_page %}
		<li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | replace: '//', '/' | absolute_url }}">&laquo;</a></li>
		{% else %}
		<li class="page-item disabled"><span class="prev page-link">&laquo;</span></li>
		{% endif %}
		{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		<li class="page-item disabled"><span class="webjeda page-link">{{ page }}</span></li>
		{% elsif page == 1 %}
		<li class="page-item"><a class="page-link" href="{{ site.paginate_path | replace: 'page:num', '' | absolute_url }}">{{ page }}</a></li>
		{% else %}
		<li class="page-item"><a class="page-link" href="{{ site.paginate_path | replace: '//', '/' | replace: ':num', page | absolute_url }}">{{ page }}</a></li>
		{% endif %}
		{% endfor %}
		{% if paginator.next_page %}
		<li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | replace: '//', '/' | absolute_url }}">&raquo;</a></li>
		{% else %}
		<li class="page-item disabled"><span class="next page-link">&raquo;</span></li>
		{% endif %}
	</ul>
	{% endif %}      
</div>
{% endif %}