$fa-font-path: "../fonts";

$white: rgb(255, 255, 255);
$dark: rgb(33, 37, 41);
$primary: rgb(255, 204, 0);
$secondary: rgb(0, 176, 252);
$font-family-sans-serif: "Hind Vadodara", sans-serif;
$headings-font-family: "Alegreya Sans SC", sans-serif;
$headings-font-weight: 700;
$fa-font-display: swap;
$navbar-light-color: $white;
$hamburger-layer-color: $dark;
