$fa-font-path: "../fonts";

$white: rgb(255, 255, 255);
$primary: rgb(255, 204, 0);
$secondary: rgb(0, 176, 252);
$font-family-sans-serif: "Merriweather Sans", sans-serif;
$headings-font-family: "Oswald", sans-serif;
$headings-font-weight: 700;
$fa-font-display: swap;
$navbar-light-color: $white;
$hamburger-layer-color: $primary;