@charset "UTF-8";

@import "functions";
@import "variables";
@import "bootstrap/bootstrap";
@import "fontawesome/fontawesome";
@import "fontawesome/brands";
@import "fontawesome/regular";
@import "fontawesome/solid";
@import "hamburgers/hamburgers";

html {
	width: 100%;
	@include media-breakpoint-up(xl) {
		font-size: 17px;
	}
}
body {
	width: 100%;
    height: 100%;
    overflow-x: hidden;
	position: relative;
	background-color: $dark;
}
img {
	max-width: 100%;
}
a {
	color: $primary;
	transition: all .2s;
	text-decoration: none;
	&.text-dark {
		&:hover {
			color: $primary;
		}
	}
	&:hover {
		transition: all .3s;
		text-decoration: none;
	}
	&.cat-link {
		display: inline-block;
		margin: 5px 15px;
		padding: 2px 10px;
		border-bottom: 2px solid $primary;
		transition: 0.5s background;
		color: $black;
		&:hover {
			transition: all .3s;
			text-decoration: none;
			background-color: $primary;
		}
	}
}
b, strong {
	font-weight: 800;
}
table {
	width: 100%;
	td {
		padding: 10px;
	}
	@include media-breakpoint-down(md) {
		font-size: 1.1rem;
		th {
			font-size: 0.9rem;
		}
		td {
			font-size: 0.8rem;
		}
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family: $headings-font-family;
	text-transform: uppercase;
	cursor: default;
}
h6 {
	@include media-breakpoint-up(xl) {
		font-size: 1.1rem;
	}
}
main {
	overflow: hidden;
}
footer {
	&.footer {
		margin-top: 50px;
		z-index: 1022;
		position: relative;
		min-height: 100%;
		padding: 0;
		margin: 0;
		background-color: $dark;
		color: $light;
		overflow: hidden;
		div, p {
			color: $light;
		}
		a {
			color: $white;
			&:hover {
				color: darken($light, 7.5%);
			}
		}
		.container {
			max-width: 1080px;
		}
		.social-follow {
			position: relative;
			left: -$list-inline-padding;
			text-align: right;
		}
		.footer-menu {
			a {
				display: inline-block;
				margin-right: 3px;
			}
		}
	}
}
.site-content {
	background-color: $white;
	min-height: 400px;
}
.remove-site-content-margin {
	margin-top: -30px;
}
.full-width {
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	left: 50%;
}
.c-pointer { 
	&:hover {
		cursor: pointer;
	}
}
.btn {
	padding: 0.35rem 1.1rem;
	font-size: 1rem;
	line-height: 1.6;
	border-radius: 0.25rem;
	position: relative;
	&:hover, &:focus {
		outline: 0 !important;
	}
	.badge {
		position: absolute;
		top: -.625rem;
		right: -.3125rem;
	}
}
.btn-lg, .btn-group-lg>.btn {
	padding: 0.65rem 2rem;
	font-size: 1.15rem;
	line-height: 1.5;
	border-radius: 0.3rem;
}
.btn-sm, .btn-group-sm>.btn {
	padding: 0.15rem .7rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}
.navbar {
	transition: top 0.2s ease-in-out;
	font-weight: 400;
	max-width: 100vw;
	.highlight {
		.nav-link {
			border: 1px solid $primary;
			padding: 0.3rem 1rem;
			border-radius: 3px;
			font-size: 1.3rem;
			&:hover {
				background: $primary;
				color: $white !important;
			}
		}
	}
}
.dropdown-item {
	font-weight: 400;
}
.dropdown-menu {
	border: 0;
	text-transform: none;
	box-shadow: 0 10px 25px 0 $gray-300;
	&:before {
		@include media-breakpoint-up(md) {
			content: '';
			top: -8px;
			position: absolute;
			left: 50px;
			border-top: 16px solid $white;
			border-left: 16px solid $white;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}
.navbar-light {
	.navbar-brand {
		margin-right: 0;
		color: $white;
		&:hover, &:focus {
			color: $white;
		}
	}
	.navbar-nav {
		.nav-link {
			color: $white;
			font-size: .93rem;
			font-family: $headings-font-family;
			letter-spacing: 1px;
			text-transform: uppercase;
			&:hover, &:focus {
				color: $white;
			}
			&.disabled {
				color:$white;
			}
			&.show {
				color: $white;
			}
			&.active {
				color: $white;
			}
		}
		.show, .active {
			&>.nav-link {
				color: $white;
			}
		}
	}
	.navbar-toggler {
		border: 0;
	}
	.navbar-text {
		color :$gray-500;
		a {
			color: $gray-900;
			&:hover, &:focus {
				color: $gray-900;
			}
		}
	}
}
.bd-search {
	.form-control {
		font-size: .85rem;
		color: $dark;
		border-radius: 30px;
		padding-left: 35px;
		height: 35px;
		border: 1px solid $secondary;
	}
	i {
		&.fas {
			position: absolute;
			padding: 10px;
			color: $gray-500;
		}
	}
}
.jumbotron {
	@include background-size(cover);
	padding: 7rem 1rem;
}
@include media-breakpoint-up(lg) {
	.jumbotron-lg-withnav {
		padding-bottom: calc(10rem - 69.75px);
	}
	.jumbotron-lg {
		padding: 10rem 0;
	}
	.jumbotron-xl {
		padding: 15rem 0;
	}
	.jumbotron-xl {
		min-height: 100vh;
	}
	.bottom-align-text-absolute {
		position: absolute;
		bottom: 30px;
		margin: auto;
		left: 0;
		right: 0;
	}
    .jumbotron-home h1 {
        font-family: $headings-font-family;
        font-size: 2.4rem;
        font-weight: $headings-font-weight;
        line-height: $headings-line-height;
    }
}
.page-container {
	padding-bottom: 100px;
	padding-top: 100px;
}
.pict-container {
	background-size: cover;
	background-repeat: no-repeat;
}
.overlay {
	position: relative;
	.container {
		position: relative;
	}
	&:before {
		content: "";
		display: block;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
	}
}
.overlay-black {
	&:before {
		background-color: $gray-500;
	}
}
.overlay-blue {
	&:before {
		background-color: rgba(23, 29, 90, 0.5);
	}
}
.overlay-red {
	&:before {
		background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
	}
}
.card {
	.date {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1;
		background: $pink;
		width: 55px;
		height: 55px;
		padding: 12.5px 0;
		border-radius: 100%;
		color: $white;
		font-weight: 700;
		text-align: center;
		-webkti-box-sizing: border-box;
		box-sizing: border-box;
		.day {
			font-size: 16px;
			line-height: 1;
		}
		.month {
			font-size: 11px;
			text-transform: uppercase;
		}
	}
	a:hover {
		text-decoration: none;
		color: $primary;
	}
}
.card-pricing {
	.card {
		ul {
			li {
				margin-bottom: 1.5rem;
			}
		}
	}
}
.iconbox {
	border: 1px solid;
	text-align: center;
	display: inline-block;
	&.iconsmall {
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 1rem;
	}
	&.iconmedium {
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 1.8rem;
	}
	&.iconlarge {
		width: 80px;
		height: 80px;
		line-height: 80px;
		font-size: 2.2rem;
	}
}
ul {
	&.list-unstyled {
		li {
			margin-bottom: .3rem;
		}
	}
}
ol {
	&.list-featured {
		counter-reset: featured-counter;
		list-style: none;
		padding-left: 0;
		li {
			counter-increment: featured-counter;
			display: flex;
			font-size: 0.8rem;
			&:before {
				content: "0" counter(featured-counter);
				font-weight: bold;
				font-size: 2rem;
				margin-right: 0.5rem;
				font-family: $font-family-sans-serif;
				line-height: 1;
				opacity: .1;
			}
		}
	}
}
.catlist {
	.sep {
		&:last-child {
			display: none;
		}
	}
}
.sticky-top-offset {
	top:70px;
}
.main-loop {
	@include media-breakpoint-up(md) {
		padding: 2.6rem;
	}
	.main-loop-card {
		&:nth-child(-n+5) {
			display: none !important;
		}
	}
}
.excerpt {
    color: $gray-600;
    margin-top: 10px;
}
.article-headline {
    font-family: $headings-font-family;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: $headings-line-height;
    color: $gray-800;
	text-transform: uppercase;
	@include media-breakpoint-down(lg) {
		font-size: 35px;
	}
	@include media-breakpoint-down(md) {
		font-size: 25px;
	}
}
article {
	font-size: 20px;
	line-height: 1.86;
    font-family: $font-family-sans-serif;
	p, pre, figure, img, blockquote, iframed, embed {
		margin-bottom: 2rem;
	}
	blockquote {
		padding-left: 40px;
		margin-left: 0;
		font-style: italic;
		position: relative;
		&:before {
			content: '\f10e';
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			font-size: 3rem;
			margin: -1rem 2rem 0 -4rem;
			position: absolute;
			opacity: 1;
			float: left;
			line-height: 1;
		}
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		margin-bottom: 2rem;
		margin-top: 2rem;
		font-weight: 600;
	}
	@include media-breakpoint-up(xl) {
		font-size: 1.24rem;
	}
}
.alertbar {
	box-shadow: 0 -3px 10px 0 $gray-800;
	position: fixed;
	bottom: -80px;
	left: 0;
	background-color: $white;
	width: 100%;
	padding: 0;
	z-index: 1021;
	display: block;
	-o-transition: bottom 0.3s;
	-moz-transition: bottom 0.3s;
	-webkit-transition: bottom 0.3s;
	transition: bottom 0.3s;
	img {
		height: 64px;
		max-width: 100%;
	}
	@include media-breakpoint-down(lg) {
		display: none !important;
	}
}
.spanborder {
	border-bottom: 1px solid $primary;
	margin-bottom: 2rem;
	span {
		border-bottom: 1px solid $gray-500;
		display: inline-block;
		padding-bottom: 20px;
		margin-bottom: -1px;
	}
}
.fixedsidebar {
	@include media-breakpoint-up(lg) {
		top: 0px;
		position: fixed;
		z-index: 1050;
		left: 0;
		overflow-y: overlay;
		width: 260px;
		height: 100%;
		padding: 0 .5rem .5rem 1.5rem;
		border-right: 1px solid $gray-500;
		background-color: $white;
		padding-bottom: 50px;
	}
}
.content-withfixedsidebar {
	.navbar {
		&.fixed-top {
			@include media-breakpoint-up(lg) {
				margin-left: 260px;
			}
		}
	}
}
.container, .container-lg {
	@include media-breakpoint-up(xl) {
		width: 100%;
		width: 100vw;
		max-width: 100%;
	}
}
.topfirstimage {
	@include media-breakpoint-up(xl) {
		height: 280px !important;
	}
}
.lunrsearchresult {
	list-style-type: none;
	.title {
		color: $black;
	}
	.url {
		color: $gray-500;
	}
	a {
		display: block;
		color: $gray-700;
		&:hover, &:focus {
			text-decoration: none;
			.title {
				text-decoration: underline;
			}
		}
	}
}
.post-image {
	width: 100%;
	height: 500px;
	@include background-size(cover);
	background-position: center center;
}
.share {
	text-align: center;
}
.article-post {
	padding: 5px 3%;
	iframe {
		width: 100%;
	}
	h1 {
		text-align: center;
		padding: 55px 10px;
		text-transform: uppercase;
		background-color: $primary;
		color: $light;
	}
	h2, h3, h4, h5, h6 {
		color: $primary;
	}
}
.error-page {
	padding: 200px 4%;
	h1 {
		font-size: 7rem;
	}
	.text-muted {
		font-size: 2.5rem;
	}
}
.home-section-fullwidth {
	.card-body {
		width: 100%;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		@include background-size(cover);
		@include media-breakpoint-down(lg) {
			background-attachment: scroll;
		}
		.section-logo {			
			position: relative;
			z-index: 1;
			margin: 200px auto 0 auto;
			max-width: 960px;
			@include media-breakpoint-down(lg) {
				max-width: 100%;
				margin: 135px 3% 0 3%;
			}
			@include media-breakpoint-down(sm) {
				margin: 135px 2% 0 2%;
			}
			img {
				margin: 15px auto;
			}
		}
		h2 {
			text-transform: uppercase;
			padding: 8px 22px;
			font-size: 3rem;
			font-weight: $headings-font-weight;
			text-align: center;
			margin: 0 auto;
			@include media-breakpoint-down(sm) {
				font-size: 2rem;
			}
		}
	}
}
.complement {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	font-size: 42px;
	text-align: center;
	color: $primary;
}
.side {
	height: 100%;
	min-height: 50vh;
	background-position: center bottom;
	@include background-size(contain);
	background-repeat: no-repeat;
}
.button {
	&.fullwidth {
		display: block;
		background-color: $secondary;
		color: $primary;
		width: 100%;
		text-transform: uppercase;
		padding: 1.9rem;
		margin: 0.7rem auto;
		max-width: 1080px;
		font-size: 1.7rem;
		&:hover {
			background-color: $primary;
			color: $secondary;
		}
		small {
			display: block;
			font-size: 0.725rem;
		}
	}
}
.conver {
	background-size: cover;
}
.quiz {
	background: $black;
	color: $white;
	text-align: center;
	padding: 25px 2% 0 2%;
	h1 {
		color: $primary;
		font-style: oblique;
		font-size: 3.5rem;
	}
	.button {
		display: inline-block;
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
		font-size: 28px;
		text-decoration: none;
		background-color: $primary;
		color: $white;
		cursor: pointer;
		line-height: 70px;
		text-align: center;
		margin: 15px 5px;
		height: 70px;
		padding: 0px 33px;
		border-radius: 25px;
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
.modal-content {
	max-height: 90vh;
	.modal-body {
		overflow: overlay;
		overflow-y: scroll;
	}
}
.article-grid-element {
	border: 1px solid $secondary;
	.article-grid-element-content {
		padding: 0.725rem;
		h2 {
			margin-top: 0;
		}
		.excerpt {
			font-size: 0.825rem;
			line-height: 1.5;
		}
	}
	margin-bottom: 1.125rem;
}
.img-fold-container {
	position: fixed; 
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
	img {
		position: absolute; 
		top: 0; 
		left: 0; 
		right: 0; 
		bottom: 0; 
		margin: auto; 
		min-width: 100vw;
		min-height: 100vh;
		height: 100vh;
		max-width: none;
		@include media-breakpoint-down(sm) {
			left: -25%;
		}
	}
}
.home-fold {
	position: relative;
	z-index: 1;
	background-color: $white;
	padding-top: 0.925rem;
	padding-bottom: 5rem;
	h2 {
		margin: 50px 0 40px 0;
	}
}