@charset "UTF-8";

@import "functions";
@import "variables";
@import "bootstrap/bootstrap";
@import "fontawesome/fontawesome";
@import "fontawesome/brands";
@import "fontawesome/regular";
@import "fontawesome/solid";
@import "hamburgers/hamburgers";

html {
	height: 100%;
	@include media-breakpoint-up(xl) {
		font-size: 17px;
	}
}
body {
	overflow-x: hidden;
	min-height: 100%;
	position: relative;
	background-color: $dark;
}
img {
	max-width: 100%;
}
a {
	color: $primary;
	transition: all .2s;
	text-decoration: none;
	&.text-dark {
		&:hover {
			color: $primary;
		}
	}
	&:hover {
		transition: all .3s;
		text-decoration: none;
	}
	&.cat-link {
		display: inline-block;
		margin: 5px 15px;
		padding: 2px 10px;
		border-bottom: 2px solid $primary;
		transition: 0.5s background;
		color: $black;
		&:hover {
			transition: all .3s;
			text-decoration: none;
			background-color: $primary;
		}
	}
}
table {
	width: 100%;
	td {
		padding: 10px;
	}
	@include media-breakpoint-down(md) {
		font-size: 1.1rem;
		th {
			font-size: 0.9rem;
		}
		td {
			font-size: 0.8rem;
		}
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family: $headings-font-family;
}
h6, .h6 {
	@include media-breakpoint-up(xl) {
		font-size: 1.1rem;
	}
}
main {
	overflow: hidden;
}
footer {
	margin-top: 50px;
	z-index: 1022;
	position: relative;
	min-height: 100%;
	padding: 0;
	margin: 0;
	background-color: $primary;
	color: $light;
	overflow: hidden;
	div, p {
		color: $light;
	}
	a {
		color: $white;
		&:hover {
			color: darken($light, 7.5%);
		}
	}
	.social-follow {
		position: relative;
		left: -$list-inline-padding
	}
	.footer-menu {
		background-color: $dark;
		color: $primary;
		padding: 15px;
		a {
			color: $primary;
			&:hover {
				color: darken($light, 7.5%);
			}
		}
	}
}
.tofront {
	position: relative;
	z-index: 1;
}
.site-content {
	background-color: $white;
	padding-top: 70px;
	min-height: 400px;
}
.remove-site-content-margin {
	margin-top: -30px;
}
.full-width {
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	left: 50%;
}
.c-pointer { 
	&:hover {
		cursor: pointer;
	}
}
.z-index-1 {
	z-index: 1;
}
.display-3 {
	@include media-breakpoint-down(lg) {
		font-size: 3.5rem;
	}
	@include media-breakpoint-down(md) {
		font-size: 2rem;
	}
}
.row.gap-y {
	&>.col, &>[class*="col-"] {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
.mt-neg5 {
	margin-top: -5rem;
}
.ml-neg5 {
	margin-left: -5rem;
}
@include media-breakpoint-up(md) {
	.h-md-100-v {
		height: 100vh;
	}
	.h-md-100 {
		height: 100vh;
	}
}
@include media-breakpoint-up(xl) {
	.h-xl-300 {
		height: 300px;
	}
	.h-max-380 {
		max-height: 380px;
	}
}
.btn-round {
	border-radius: 30px !important;
}
.btn {
	padding: 0.35rem 1.1rem;
	font-size: 1rem;
	line-height: 1.6;
	border-radius: 0.25rem;
	position: relative;
}
.btn {
	&:hover, &:focus {
		outline: 0 !important;
	}
	.badge {
		position: absolute;
		top: -.625rem;
		right: -.3125rem;
	}
}
.btn-lg, .btn-group-lg>.btn {
	padding: 0.65rem 2rem;
	font-size: 1.15rem;
	line-height: 1.5;
	border-radius: 0.3rem;
}
.btn-sm, .btn-group-sm>.btn {
	padding: 0.15rem .7rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}
.btn-link {
	&:hover, &:focus {
		box-shadow:none;
	}
	border-color: transparent;
	&.btn-primary { color: $primary; }
	&.btn-secondary { color: $secondary; }
	&.btn-success { color: $success; }
	&.btn-info { color: $info; }
	&.btn-warning { color: $warning; }
	&.btn-danger { color: $danger; }
	&.btn-light { color: $light; }
	&.btn-dark { color: $dark; }
	&.btn-white { color: $white; }
	&.btn-purple { color: $purple; }
	&.btn-salmon { color: $pink; }
	&.btn-cyan { color: $cyan; }
	&.btn-gray { color: $gray-500; }
	&.btn-indigo { color: $indigo; }
	&.btn-orange { color: $orange; }
	&.btn-lightblue { color: $teal; }
}
.btn-white {
	background-color: $white;
}
.input-round {
	border-radius:30px !important;
	&.input-group {
		input {
			&:first-child {
				border-radius:30px 0 0 30px;
			}
			&:last-child {
				border-radius:0px 30px 30px 0px;
			}
		}
	}
}
.navbar {
	transition: top 0.2s ease-in-out;
	font-weight: 400;
	max-width: 100vw;
	.highlight {
		.nav-link {
			color: $primary !important;
			border: 1px solid $primary;
			padding: 0.3rem 1rem;
			border-radius: 3px;
			font-size: .93rem;
			&:hover {
				background: $primary;
				color: $white !important;
			}
		}
	}
}
.dropdown-item {
	font-weight: 400;
}
.dropdown-menu {
	border: 0;
	text-transform: none;
	box-shadow: 0 10px 25px 0 $gray-300;
	&:before {
		@include media-breakpoint-up(md) {
			content: '';
			top: -8px;
			position: absolute;
			left: 50px;
			border-top: 16px solid  $white;
			border-left: 16px solid  $white;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}
.navbar-light {
	.navbar-brand {
		margin-right: 0;
		color: $gray-900;
		&:hover, &:focus {
			color: $gray-900;
		}
	}
	.navbar-nav {
		.nav-link {
			color: $gray-900;
			font-size: .93rem;
			&:hover, &:focus {
				color: $gray-700;
			}
			&.disabled {
				color:$gray-300;
			}
			&.show {
				color: $gray-900;
			}
			&.active {
				color: $gray-900;
			}
		}
		.show, .active {
			&>.nav-link {
				color: $gray-900;
			}
		}
	}
	.navbar-toggler {
		color: $gray-500;
		border-color: $gray-100;
	}
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='$gray-500' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}
	.navbar-text {
		color :$gray-500;
		a {
			color: $gray-900;
			&:hover, &:focus {
				color: $gray-900;
			}
		}
	}
}
.bd-search {
	.form-control {
		font-size: .85rem;
		color: $dark;
		border-radius: 30px;
		height: 35px;
		border: 1px solid $gray-200;
	}
}
.mb-2rem {
	margin-bottom: 2rem;
}
.jumbotron {
	@include background-size(cover);
	padding: 7rem 1rem;
}
@include media-breakpoint-up(lg) {
	.jumbotron-lg-withnav {
		padding-bottom: calc(10rem - 69.75px);
	}
	.jumbotron-lg {
		padding: 10rem 0;
	}
	.jumbotron-xl {
		padding: 15rem 0;
	}
	.jumbotron-xl {
		min-height: 100vh;
	}
	.bottom-align-text-absolute {
		position: absolute;
		bottom: 30px;
		margin: auto;
		left: 0;
		right: 0;
	}
    .jumbotron-home h1 {
        font-family: $headings-font-family;
        font-size: 2.4rem;
        font-weight: $headings-font-weight;
        line-height: $headings-line-height;
    }
}
.overlay {
	position: relative;
	.container {
		position: relative;
	}
	&:before {
		content: "";
		display: block;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
	}
}
.overlay-black {
	&:before {
		background-color: $gray-500;
	}
}
.overlay-blue {
	&:before {
		background-color: rgba(23, 29, 90, 0.5);
	}
}
.overlay-red {
	&:before {
		background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
	}
}
.bg-black { background-color: $black; }
.bg-primary { fill: $primary !important; }
.bg-secondary { fill: $secondary !important; }
.bg-success { fill: $success !important; }
.bg-info { fill: $info !important; }
.bg-warning { fill: $warning !important; }
.bg-danger { fill: $danger !important; }
.bg-light { fill: $light !important; }
.bg-dark { fill: $dark !important; }
.bg-white { fill: $white !important; }
.bg-purple { fill: $purple !important; }
.bg-salmon { fill: $pink !important; }
.bg-cyan { fill: $cyan !important; }
.bg-gray { fill: $gray-500 !important; }
.bg-indigo { fill: $indigo !important; }
.bg-orange { fill: $orange !important; }
.bg-lightblue { fill: $teal !important; }
.card {
	.date {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1;
		background: $pink;
		width: 55px;
		height: 55px;
		padding: 12.5px 0;
		border-radius: 100%;
		color: $white;
		font-weight: 700;
		text-align: center;
		-webkti-box-sizing: border-box;
		box-sizing: border-box;
		.day {
			font-size: 16px;
			line-height: 1;
		}
		.month {
			font-size: 11px;
			text-transform: uppercase;
		}
	}
	a:hover {
		text-decoration: none;
		color: $primary;
	}
}
.card-pricing {
	.card {
		ul {
			li {
				margin-bottom: 1.5rem;
			}
		}
	}
}
.iconbox {
	border: 1px solid;
	text-align: center;
	display: inline-block;
	&.iconsmall {
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 1rem;
	}
	&.iconmedium {
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 1.8rem;
	}
	&.iconlarge {
		width: 80px;
		height: 80px;
		line-height: 80px;
		font-size: 2.2rem;
	}
}
.alert-primary {
	@include alert($white, $primary);
}
.alert-secondary {
	@include alert($white, $secondary);
}
.alert-success {
	@include alert($white, $success);
}
.alert-info {
	@include alert($white, $info);
}
.alert-warning {
	@include alert($white, $warning);
}
.alert-danger {
	@include alert($white, $danger);
}
.alert-light {
	@include alert($white, $light);
}
.alert-dark {
	@include alert($white, $dark);
}
.alert-white {
	@include alert($dark, $white);
}
.alert-purple {
	@include alert($white, $purple);
}
.alert-salmon {
	@include alert($white, $orange);
}
.alert-cyan {
	@include alert($white, $cyan);
}
.alert-gray {
	@include alert($white, $gray-600);
}
.alert-indigo {
	@include alert($white, $indigo);
}
.alert-orange {
	@include alert($white, $orange);
}
.alert-lightblue {
	@include alert($white, $teal);
}
ul {
	&.list-unstyled {
		li {
			margin-bottom: .3rem;
		}
	}
}
ol {
	&.list-featured {
		counter-reset: featured-counter;
		list-style: none;
		padding-left: 0;
		li {
			counter-increment: featured-counter;
			display: flex;
			font-size: 0.8rem;
			&:before {
				content: "0" counter(featured-counter);
				font-weight: bold;
				font-size: 2rem;
				margin-right: 0.5rem;
				font-family: $font-family-sans-serif;
				line-height: 1;
				opacity: .1;
			}
		}
	}
}
.catlist {
	.sep {
		&:last-child {
			display: none;
		}
	}
}
.sticky-top-offset {
	top:70px;
}
.homefirstpage {
	.main-loop {
		.main-loop-card {
			&:nth-child(-n+5) {
				display: none !important;
			}
		}
	}
}
.excerpt {
    color: $gray-600;
    margin-top: 10px;
}
.article-headline {
    font-family: $headings-font-family;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: $headings-line-height;
    color: $gray-800;
	text-transform: uppercase;
}
article {
	font-size: 20px;
	line-height: 1.86;
    font-family: $font-family-sans-serif;
	p, pre, figure, img, blockquote, iframed, embed {
		margin-bottom: 2rem;
	}
	blockquote {
		padding-left: 40px;
		margin-left: 0;
		font-style: italic;
		position: relative;
		&:before {
			content: '\f10e';
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			font-size: 3rem;
			margin: -1rem 2rem 0 -4rem;
			position: absolute;
			opacity: 1;
			float: left;
			line-height: 1;
		}
	}
/* FIRST LETTER
	&:first-letter {
		float: left;
		font-size: 5em;
		line-height: 1;
		margin: 0 .2em 0 0;
		vertical-align: top;
	}
*/
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		margin-bottom: 2rem;
		margin-top: 2rem;
		font-weight: 600;
	}
	@include media-breakpoint-up(xl) {
		font-size: 1.24rem;
	}
}
.alertbar {
	box-shadow: 0 -3px 10px 0 $gray-800;
	position: fixed;
	bottom: -80px;
	left: 0;
	background-color: $white;
	width: 100%;
	padding: 20px 0;
	z-index: 1021;
	display: block;
	-o-transition: bottom 0.3s;
	-moz-transition: bottom 0.3s;
	-webkit-transition: bottom 0.3s;
	transition: bottom 0.3s;
	img {
		border-radius:2px;
	}
	@include media-breakpoint-down(lg) {
		display: none !important;
	}
}
.spanborder {
	border-bottom: 1px solid $primary;
	margin-bottom: 2rem;
	span {
		border-bottom: 1px solid $gray-500;
		display: inline-block;
		padding-bottom: 20px;
		margin-bottom: -1px;
	}
}
.display-4 {
	@include media-breakpoint-down(lg) {
		font-size: 35px;
	}
	@include media-breakpoint-down(md) {
		font-size: 25px;
	}
}
.fixedsidebar {
	@include media-breakpoint-up(lg) {
		top: 0px;
		position: fixed;
		z-index: 1050;
		left: 0;
		overflow-y: overlay;
		width: 260px;
		height: 100%;
		padding: 0 .5rem .5rem 1.5rem;
		border-right: 1px solid $gray-500;
		background-color: $white;
		padding-bottom: 50px;
	}
}
.content-withfixedsidebar {
	.navbar.fixed-top {
		@include media-breakpoint-up(lg) {
			margin-left: 260px;
		}
	}
}
.container, .container-lg {
	@include media-breakpoint-up(xl) {
		width: 100%;
		width: 100vw;
		max-width: 100%;
	}
}
.topfirstimage {
	@include media-breakpoint-up(xl) {
		height: 280px !important;
	}
}
.lunrsearchresult {
	list-style-type: none;
	.title {
		color: $black;
	}
	.url {
		color: $gray-500;
	}
	a {
		display: block;
		color: $gray-700;
		&:hover, &:focus {
			text-decoration: none;
			.title {
				text-decoration: underline;
			}
		}
	}
}
.bd-search {
	i {
		&.fas {
			position: absolute;
			padding: 10px;
			color: $gray-500;
		}
	}
	.form-control {
		padding-left: 35px;
	}
}
.post-image {
	width: 100%;
	height: 500px;
	@include background-size(cover);
	background-position: center center;
}
.share {
	text-align: center;
}
.article-post {
	padding: 5px 3%;
	iframe {
		width: 100%;
	}
	h1 {
		text-align: center;
		padding: 55px 10px;
		text-transform: uppercase;
		background-color: $primary;
		color: $light;
	}
	h2, h3, h4, h5, h6 {
		color: $primary;
	}
}
.error-page {
	padding: 200px 4%;
	h1 {
		font-size: 7rem;
	}
	.text-muted {
		font-size: 2.5rem;
	}
}
.home-section-fullwidth {
	.card-body {
		width: 100%;
		height: 100vh;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		@include background-size(cover);
		.section-logo {
			margin: 145px 10% 0 10%;
			@include media-breakpoint-down(lg) {
				margin: 135px 3% 0 3%;
			}
			@include media-breakpoint-down(sm) {
				margin: 135px 2% 0 2%;
			}
			img {
				margin: 15px auto;
			}
		}
		h2 {
			text-transform: uppercase;
			background: $white;
			padding: 8px 22px;
			font-weight: $headings-font-weight;
			text-align: center;
			margin: 0 auto;
		}
	}
}
.complement {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	font-size: 42px;
	text-align: center;
	color: $primary;
}
.side {
	height: 100%;
	min-height: 50vh;
	background-position: center bottom;
	@include background-size(contain);
	background-repeat: no-repeat;
}
.quiz {
	background: $black;
	color: $white;
	text-align: center;
	padding: 25px 2% 0 2%;
	h1 {
		color: $primary;
		font-style: oblique;
		font-size: 3.5rem;
	}
	.button {
		display: inline-block;
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
		font-size: 28px;
		text-decoration: none;
		background-color: $primary;
		color: $white;
		cursor: pointer;
		line-height: 70px;
		text-align: center;
		margin: 15px 5px;
		height: 70px;
		padding: 0px 33px;
		border-radius: 25px;
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}